.navbar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: linear-gradient(to bottom,
      var(--background-color)60%,
      color-mix(in srgb, var(--background-color) 60%, transparent));
}

.navbar ul {
  display: flex;
  gap: 1rem;
}

.navbar a {
  width: 2rem;
  height: 2rem;
}

.navbar img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.hero {
  display: grid;
  align-items: center;
  gap: 1rem;
  padding: 3rem 1rem 2rem 1rem;
  line-height: 120%;
  letter-spacing: 0.05rem;
}

.hero h3 {
  padding-bottom: 2rem;
}

.hero p {
  text-align: start;
}

.titular {
  padding: 2rem 1rem;
}

.technologies-container {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.proyectos-container {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 2rem;
  gap: 2rem;
}